<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img id="logo" src="./static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    <h1>Checkout</h1>
    <form>
        Name: (required) <input type="text" name="name"><br><br>
        Email: (required) <input type="email" name="email"><br><br
        Ticket Quantity: (required) type="number" name="quantity" min="1"><br><br>
    </form>
</body>
</html>